[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
psycopg2-binary = "*"
urllib3 = "*"
requests = "*"
django-embed-video = "*"
sentry-sdk = "*"
boto3 = "*"
django-cleanup = "*"
django-q = "*"
webvtt-py = "*"
celery = {extras = ["librabbitmq", "redis"], version = "*"}
django-celery-results = "*"
django-celery-beat = "*"
opencv-python = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true