{% extends "subtitles/base.html" %}

{% block content %}
{% if validlink %}
<div class="container-fluid">

    <p>Please enter your new password.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td><input class="btn btm-primary" type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </div>
    </form>
</div>
{% else %}
<div class="container-fluid">
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid. Please request a new password link.</p>
</div>
{% endif %}
{% endblock %}